<a href="https://colab.research.google.com/github/Macindaw/Intern-Project/blob/main/Module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Reading, Sorting and Pre-prosessing Data**

One of the most important aspects of working with data sets is understanding the data set itself. You need to be able to understand what the set contains before you can work out what understanding you want to draw from it.

This module will cover the basics of how to read data from a csv file using 'Pandas' a python module used for manipulating large data sets. It will cover how to use Pandas to:  


1.   Extract the data required for certain graphs
2.   Remove unwanted data
3.   Sort data
4.   Search for specific data
  

Note in the code you will see the character '#' followed by some text. This is not code it is just a comment designed to allow better understanding of the code.

**Section 1: Extracting Data From A File**

This section will cover how to read in different file types into your program unsing the Pandas module on python. The Two Types of Files we will learn to read are the 'csv' and 'xlsx' files types. **Expand on Files Types Here**

The two methods we will be using to read in the data are 'read_csv("FILE_NAME")' and 'read_excel("FILE_NAME)'. These functions will return a data frame upon execution. You can think of a data frame as a sort of excel spreadsheet that contains all of the data in rows and columns

In [5]:
#Making the Pandas Module Usable
import pandas as pd

data_csv = pd.read_csv('pokemon_data.csv')
data_exel = pd.read_excel('pokemon_data.xlsx')

print("CSV data")
data_csv.head(10)

CSV data

   #                       Name Type 1  ... Speed  Generation  Legendary
0  1                  Bulbasaur  Grass  ...    45           1      False
1  2                    Ivysaur  Grass  ...    60           1      False
2  3                   Venusaur  Grass  ...    80           1      False
3  3      VenusaurMega Venusaur  Grass  ...    80           1      False
4  4                 Charmander   Fire  ...    65           1      False
5  5                 Charmeleon   Fire  ...    80           1      False
6  6                  Charizard   Fire  ...   100           1      False
7  6  CharizardMega Charizard X   Fire  ...   100           1      False
8  6  CharizardMega Charizard Y   Fire  ...   100           1      False
9  7                   Squirtle  Water  ...    43           1      False

[10 rows x 12 columns]

In [6]:
print("\n\nExcel Data")
data_exel.head(10)

Excel Data

   #                       Name Type 1  ... Speed  Generation  Legendary
0  1                  Bulbasaur  Grass  ...    45           1      False
1  2                    Ivysaur  Grass  ...    60           1      False
2  3                   Venusaur  Grass  ...    80           1      False
3  3      VenusaurMega Venusaur  Grass  ...    80           1      False
4  4                 Charmander   Fire  ...    65           1      False
5  5                 Charmeleon   Fire  ...    80           1      False
6  6                  Charizard   Fire  ...   100           1      False
7  6  CharizardMega Charizard X   Fire  ...   100           1      False
8  6  CharizardMega Charizard Y   Fire  ...   100           1      False
9  7                   Squirtle  Water  ...    43           1      False

[10 rows x 12 columns]